<a href="https://colab.research.google.com/github/lenceai/20-python-projects/blob/main/Week_1_Live_Class_Student_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Weekly Automated Report

Our business problem for today will be automating a weekly revenue report

You can download the datasets for this session from the following site:
https://www.kaggle.com/datasets/olistbr/brazilian-ecommerce?select=olist_sellers_dataset.csv


**Very important**- Move the downloaded csv files to the same folder as your Python notebook in order to upload the data.

The questions we will want to answer in our weekly report are:

* How much revenue did we make this week? By region?
* What was the w/w change in revenue?
* What was the y/y growth in revenue?
* What percentage of our sales target have we reached (QTD, and EoQ)?
* What are our average ratings for the week?
* What was the average time it took for an order to be fullfilled and delivered?

For each of these questions, we will want to keep in the back of our mind, not just how to answer these questions, but how to provide insights?

*** For example, within ratings, we want to think about how ratings might vary by region, or are being driven by a particular seller, if they have changed over time***

We will begin by taking a look at our schema and to understand how the various datasets are connected to one another:

In [ ]:
#Questions to ask: What is our most granular level of data?
#Are there any datasets that we do not need to use?
#where is your mind going with the data?

In [ ]:
#The following code imports the pandas dataframe
import pandas as pd
import numpy as np

#import remaining datasets
customers_df = pd.read_csv('olist_customers_dataset.csv')
order_items_df = pd.read_csv('olist_order_items_dataset.csv')

In [ ]:
#This will change the settings to allow us to see all of our columns
pd.set_option('display.max_columns', None)

### Integrating SQL with Python

In [ ]:
#open terminal and run: pip install pandasql

import pandasql as ps

#Documentation: https://pypi.org/project/pandasql/

In [ ]:
#short example query- select the first 5 rows from customers_df

What do we want in our dataset?

Customers
* customer_id
* customer_unqiue_id
* customer_zip_code
* customer_city
* customer_state

Order Item
* order_id
* order_item_id
* product_id
* seller_id
* shipping_limit_date
* price


Reviews
* review_id
* order_id
* review_score

Orders
* order_id
* customer_id
* order_status
* order_purchase_time
* order_approved_at
* order_delivered_carrier_date
* order_delivered_customer_date

Products
* product_id
* product_category


Sellers
* seller_id
* seller_zip_code_prefix
* seller_city
* seller_state

Product Category
* product_category
* product_category_name_english

In [ ]:
#create query to put together our dataset

### High level overview of our data

In [ ]:
#command for viewing data

In [ ]:
#information about our data

In [ ]:
#shape of our dataframe

In [ ]:
#columns in our dataframe

In [ ]:
#describe dataset

In [ ]:
#Change the type of zip code, order id, and seller zip code, as well as

### Missing Data

In [ ]:
#Check if there are null values in our data

When we find null values, we can either:
1. Remove the null values
2. Keep the null values or
3. Impute the data

In [ ]:
#Assess the null values- order approved

In [ ]:
#Use regex in order to see if this is a consistent trend for other dates

In [ ]:
#Check if order status affects delivery date

In [ ]:
#Check if order status affects delivery date

In [ ]:
#Check if order status affects delivery date

###### Imputing Data

In [ ]:
#create dataframe
imp_df = pd.DataFrame()

imp_df['col1'] = [0.2601,0.2358,0.1429,0.1259,0.7526,
                0.7341,0.4546,0.1426,0.1490,0.2500]
imp_df['col2'] = [0.7154,np.nan,0.2615,0.5846,np.nan,
                0.8308,0.4962,np.nan,0.5340,0.6731]

In [ ]:
#Impute using a for loop

In [ ]:
#Impute using Python Library

from sklearn.impute import SimpleImputer

#missing_values : In this we have to place the missing values and in pandas it is 'NaN'.
#strategy : In this we have to pass the strategy that we need to follow to impute in missing value it can be mean, median, most_frequent or constant. By default it is mean.
#fill_value : By default it is set as none. It is used when the strategy is set to constant then we have to pass the value that we want to fill as a constant in all the nun places.
#axis : In this we have to pass 0 for columns and 1 for rows.

### Regex

In [ ]:
#Use regex to extract timestamp

In [ ]:
#split()

In [ ]:
#sub()

In [ ]:
#Simpler solution: Use split string function


#create new columns

In [ ]:
#Repeat the same for remaining date columns: order_approved_at, order_delivered_carrier_date, order_delivered_customer_date

### Working with Dates

In [ ]:
from datetime import datetime, timedelta


#change the type of the column to date

### Beginning our Analysis

* How much revenue did we make this week?
* What was the w/w change in revenue?
* What was the y/y growth in revenue?

In [ ]:
#Set dates



#can implement a check to see if the max report date is what you would expect it to be (i.e. no missing data)

In [ ]:

#revenue this week and last

#revenue this week and last last year

#products this week and last

#products this week and last last year

In [ ]:
#create aggregate dataframe

In [ ]:
###Create our Report

## What percentage of our sales target have we reached (QTD, and EoQ)?

In [ ]:
#calculate revenue this quarter, and target this quarter





#target is revenue from last year's quarter with 10% growth

In [ ]:
#calculate qtd target

## What are our average ratings for the week?

## What was the average time it took for an order to be fullfilled and delivered?

## Putting together baseline report

With our baseline report taken care of by simply running this notebook, we could deep dive to further understand why these trends are occuring.